<%
if status == "open"
    cellclass = "singletask"
    titleclass = "tasktitle"
    showcheck = true
    showarchive = true
    showinformation = true
    showgetback = false
  elsif status == "closed"
    cellclass = 'singletask_done'
    titleclass = 'tasktitle_done'
    showcheck = false
    showarchive = true
    showinformation = false
    showgetback = true
  else
    cellclass = 'singletask'
    titleclass = 'tasktitle_archived'
    showcheck = false
    showarchive = false
    showinformation = true
    showgetback = true
  end
  %>
    <div class="col-xs-12 col-sm-12 singledetail" id="<%= task.id %>">
      <div class="row">
        <div class="right_close" id="<%= task.id %>">x</div>
        <div class="col-xs-12 detailtitle">
          <p class="<%= titleclass %>"><%= task.title %></p>
          <p class="taskdate">
            <%= task.due.strftime("on: %d.%m.%Y")%> <% if(task.due.hour != 0 && task.due.min != 0) %><%= task.due.strftime("at: %H:%M") %><% end %>
          </p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <p class="detail_section_header">Author:</p>
          <div class="detail_member_pic" style="background-color: <%= "hsl(#{Random.new.rand(255)},100%,80%)"%>"><%= task.autor.slice(0) %></div>
          <p class="detail_member_name"><strong><%= task.autor %></strong> </p>
          <div class="fix"></div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <p class="detail_section_header">Calendar:</p>
          <p class="detail_member_name"><%= calendar %></p>
          <div class="fix"></div>
        </div>
      </div>
      <% if task.participants != "" %>
        <div class="row">
          <div class="col-xs-12">
            <p class="detail_section_header">Participants:</p>
          </div>
          <%
            attendees = task.participants.split(', ')
          %>
          <% attendees.each do |attendee| %>
          <div class="col-xs-12 col-sm-6">
            <div class="detail_member_pic" style="background-color: <%= "hsl(#{Random.new.rand(255)},100%,80%)"%>"><%= attendee.slice(0) %></div>
            <p class="detail_member_name"><strong><%= attendee %></strong> </p>
            <div class="fix"></div>
          </div>
          <% end %>
        </div>
      <% end %>
      <% if task.description != "" %>
        <div class="row">
          <div class="col-xs-12">
            <p class="detail_section_header">Description:</p>
            <p><%= task.description %></p>
          </div>
        </div>
      <% end %>
      <div class="row">
        <%= link_to(task_done_path(:tid => task.id)) do %>
          <div class="col-xs-12 col-sm-6">
            <div class="col-xs-12 detail_button">
              <p><%= image_tag "icons/check.png", :class => "icons" %> check task</p>
            </div>
          </div>
        <% end %>
        <%= link_to(task_archive_path(:tid => task.id)) do %>
          <div class="col-xs-12 col-sm-6">
            <div class="col-xs-12 detail_button">
              <p><%= image_tag "icons/delete.png", :class => "icons" %> archive task</p>
            </div>
          </div>
        <% end %>
      </div>

      <br>
    </div>