
		<div class="col-xs-12 col-sm-12 singledetail" id="<%= id %>">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<p class="detail_section_header">Author:</p>
					<div class="detail_member_pic" style="background-color: <%= "hsl(#{Random.new.rand(255)},100%,80%)"%>"><%= author.slice(0) %></div>
					<p class="detail_member_name"><strong><%= author %></strong> </p>
					<div class="fix"></div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<p class="detail_section_header">Calendar:</p>
					<p class="detail_member_name"><strong><%= calendar %></strong> </p>
					<div class="fix"></div>
				</div>
			</div>
			<% if participants != "" %>
				<div class="row">
					<div class="col-xs-12">
						<p class="detail_section_header">Participants:</p>
					</div>
					<%
						attendees = participants.split(', ')
					%>
					<% attendees.each do |attendee| %>
					<div class="col-xs-12 col-sm-6">
						<div class="detail_member_pic" style="background-color: <%= "hsl(#{Random.new.rand(255)},100%,80%)"%>"><%= attendee.slice(0) %></div>
						<p class="detail_member_name"><strong><%= attendee %></strong> </p>
						<div class="fix"></div>
					</div>
					<% end %>
				</div>
			<% end %>
			<% if description != "" %>
				<div class="row">
					<div class="col-xs-12">
						<p class="detail_section_header">Description:</p>
						<p><%= description %></p>
					</div>
				</div>
			<% end %>
			<br>
		</div>