
		<div class="col-xs-12 col-sm-12 singledetail" id="<%= id %>">
			<div class="row">
				<div class="right_close" id="<%= id %>">x</div>
				<div class="col-xs-12 detailtitle">
					<p class="<%= titleclass %>"><%= title %></p>
					<p class="taskdate">
						<%= due.strftime("on: %d.%m.%Y")%> <% if(due.hour != 0 && due.min != 0) %><%= due.strftime("at: %H:%M") %><% end %>
					</p>
				</div>
				<div class="col-xs-12 col-sm-6">
					<p class="detail_section_header">Author:</p>
					<div class="detail_member_pic" style="background-color: <%= "hsl(#{Random.new.rand(255)},100%,80%)"%>"><%= author.slice(0) %></div>
					<p class="detail_member_name"><strong><%= author %></strong> </p>
					<div class="fix"></div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<p class="detail_section_header">Calendar:</p>
					<p class="detail_member_name"><%= calendar %></p>
					<div class="fix"></div>
				</div>
			</div>
			<% if participants != "" %>
				<div class="row">
					<div class="col-xs-12">
						<p class="detail_section_header">Participants:</p>
					</div>
					<%
						attendees = participants.split(', ')
					%>
					<% attendees.each do |attendee| %>
					<div class="col-xs-12 col-sm-6">
						<div class="detail_member_pic" style="background-color: <%= "hsl(#{Random.new.rand(255)},100%,80%)"%>"><%= attendee.slice(0) %></div>
						<p class="detail_member_name"><strong><%= attendee %></strong> </p>
						<div class="fix"></div>
					</div>
					<% end %>
				</div>
			<% end %>
			<% if description != "" %>
				<div class="row">
					<div class="col-xs-12">
						<p class="detail_section_header">Description:</p>
						<p><%= description %></p>
					</div>
				</div>
			<% end %>
			<div class="row">
				<%= link_to(task_done_path(:tid => id)) do %>
					<div class="col-xs-12 col-sm-6">
						<div class="col-xs-12 detail_button">
							<p><%= image_tag "icons/check.png", :class => "icons" %> check task</p>
						</div>
					</div>
				<% end %>
				<%= link_to(task_archive_path(:tid => id)) do %>
					<div class="col-xs-12 col-sm-6">
						<div class="col-xs-12 detail_button">
							<p><%= image_tag "icons/delete.png", :class => "icons" %> archive task</p>
						</div>
					</div>
				<% end %>
			</div>

			<br>
		</div>