<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @task.autor %>
</p>

<p>
  <strong>Participants:</strong>
  <%= @task.participants %>
</p>

<p>
  <strong>Due:</strong>
  <%= @task.due %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
