<!DOCTYPE html>
<html>
<head>
  <title>Todoify</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12" id="header">
			<%= image_tag "menu.png", :class => "burgericon", :id => "burger" %>
			<div class="title"><h1>Todoify</h1></div>
		</div>
		<div class="col-xs-12 main_menu">
			<% if user_signed_in? %>
			
				<!-- todo google profile pic & check witch provider is logged -->

				<div id="theuser">
					<%= image_tag "http://graph.facebook.com/#{current_user.uid}/picture?type=square", :class => "profile_pic" %>
					<br>
					<p>Hallo,</p>
					<p><strong><%= "#{current_user.firstname} #{current_user.lastname}" %></strong> </p>
				</div>
				<div class="fix"></div>
				<ul>
					<li>List</li>
					<li>Calendar</li>
					<li>+ add Calendar</li>
					<li>Archive</li>
					<li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
				</ul>
			<% else %>
				<ul>
					<li><%= link_to "login", signin_path %></li>
				</ul>
			<% end %>
		</div>
	</div>
</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
