<% if current_user
			large = 10
			largemen = 2
		else
			large = 12
			largemen = 0
		end
%>
<!DOCTYPE html>
<html>
<head>
  <title>Todoify</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-lg-<%= large %> col-sm-12" id="header">
			<%= image_tag "menu.png", :class => "burgericon", :id => "burger" %>
			<div class="title"><%= image_tag 'logo.svg' %></div>
		</div>
		<div class="col-xs-12 col-lg-<%= largemen %> col-sm-4 main_menu">
			<% if user_signed_in? %>
			
				<!-- todo google profile pic & check witch provider is logged -->

				<div id="theuser">
					<%= image_tag "icons/check.png", :class => "profile_pic" %>
					<br>
					<p>Hallo,</p>
					<p><strong><%= "#{current_user.firstname} #{current_user.lastname}" %></strong> </p>
				</div>
				<div class="fix"></div>
				<ul>
					<li><%= link_to "List", sync_sync_path %></li>
					<li><%= link_to "+ add Calendar", sync_select_path %></li>
					<li><%= link_to "Archive", tasks_archive_path %></li>
					<li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
				</ul>
			<% end %>
		</div>
		<div id="content" class="col-xs-12 col-sm-12 col-lg-<%= large %>">
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
		<%= yield %>
	</div>
	</div>




</div>

</body>
</html>
